@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: Minion;
    src: url("MinionVariableConcept-Roman.otf") format("opentype");
}

@font-face {
    font-family: AdvertPro;
    src: url("AdvertPro-Light.otf") format("opentype");
}
body {
    font-family: AdvertPro, sans-serif;
}

h1, h2 {
    font-family: Minion;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.5;
}
