@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "minion-pro", serif;
}

@font-face {
    font-family: AdvertPro;
    src: url("AdvertPro-Light.otf") format("opentype");
}
body {
    font-family: AdvertPro, sans-serif;
}

.font-serif {
    font-family: "minion-pro";
}
h1, h2 {
    font-family: "minion-pro"!important;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.5;
}
